.content {
  background-color: #f3f7fb;
  position: relative;
  z-index: 0;
  height: 603px;
  padding: 0 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  position: absolute;
  margin: 0 125px;
  padding: 20px 0;
  font-weight: 400;
  font-size: 10px;
  text-transform: capitalize;
  color: #acbccf;
}

.pagenumber {
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.search select {
  padding: 10px;
  border-radius: 9px;
  border: solid 2px #e3ebf4;
  width: 215px;
  color: #9eaec1;
  font-size: 14px;
  height: 40px;

  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='lightblue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.search input {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 9px;
  border: solid 2px #e3ebf4;
  padding-left: 35px;
  width: 215px;
  color: #9eaec1;
  font-size: 14px;
  background: url('./download\ \(1\).png') no-repeat;
  background-size: 15px 15px;
  background-position: left 10px center;
  height: 40px;
}

.search input::placeholder {
  color: #9eaec1;
}

.search button {
  width: 100px;
  background-color: #2569a5;
  color: white;
  font-size: 600;
  font-size: 16px;
}

.main {
  width: 1188px;
  height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 148, 255, 0.25);
  border-radius: 10px;
  padding: 24px 30px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #2569a5;
}

.coins {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.coins th {
  text-align: left;
  background-color: #3783c6;
  color: white;
  /* width: 10px; */
}

.coins tr:nth-child(odd) {
  background-color: #f3f7fb;
}

.coins th,
td {
  padding: 10px;
}

.coins td a {
  color: #0062a6;
  text-decoration: underline;
}

.btn {
  width: 70px;
  background-color: #e11730;
  color: white;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.footer {
  background-color: #1d4279;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
